@import './main.scss';

:root {
  --primary-1: #129ddd;
  --primary-1-rgb: 18, 157, 221;
  --primary-2: #173b6c;
  --secondary-1: rgb(39, 40, 41);
  --secondary-2: rgb(111, 113, 128);
  --dark-1: rgb(4, 11, 20);
  --dark-2: rgb(33, 36, 49);
  --text-color: rgb(39, 40, 41);
  --bg-color-1: white;
  --bg-color-2: rgb(228, 237, 249);
  --errror-color: red;
  --succes-color: rgb(24, 210, 110);

  //DARK
  // --bg-color-1: rgb(13, 17, 23);
  // --bg-color-2: rgb(22, 27, 34);
  // --primary-1: rgb(48, 54, 61);
  // --primary-2: rgb(18, 157, 221);
  // --text-color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.loading {
  overflow-y: hidden;
  height: 100vh;
}

body {
  line-height: 1.5;
  margin: 0;

  header + * {
    margin-left: 300px;

    @media (max-width: 1200px) {
      margin: 0;
    }
  }
}

p {
  color: var(--text-color);
}
