main {
  position: relative;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  > .section {
    width: 100%;
    overflow-x: hidden;

    > section {
      > div:not(#hero) {
        padding-bottom: 40px;
        padding-top: 40px;

        @include isMobile {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }

      > div {
        h2 {
          margin-bottom: 20px;
          padding-bottom: 20px;
          position: relative;
          color: var(--primary-2);
          cursor: default;
          user-select: none;

          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: var(--primary-1);
            bottom: 0;
            left: 0;
          }
        }

        p {
          color: var(--text-color);
          margin-bottom: 30px;
        }
      }

      // @media (max-width: 1200px) {
      // 	max-width: 960px;
      // }

      // @media (max-width: 994px) {
      // 	max-width: 720px;
      // }

      // @media (max-width: 768px) {
      // 	max-width: 540px;
      // }
    }
  }
}

.box {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.item {
  width: 100px;
  height: 100px;
  background-color: red;
}

.text-underline {
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--primary-1);
    bottom: 0;
    left: 0;
  }
}
