$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-hover-opacity: 1;
$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;

.header-hbutton {
  position: fixed;
  top: 0px;
  right: 0px;
  outline: none;
  display: none !important;

  @media (max-width: 1200px) {
    display: inline-block !important;
  }
}

.hamburger {
  &-inner,
  &.is-active &-inner {
    background-color: $dark-1;

    &::after,
    &::before {
      background-color: $dark-1;
    }
  }
}
