@import '../../styles/general.scss';

.header {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  background-color: $dark-1;
  display: flex;
  flex-direction: column;

  > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .profile__img {
      width: 120px;
      height: 120px;
      border: 8px solid rgb(44, 47, 63);
      border-radius: 500px;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: inherit;
        user-select: none;
        pointer-events: none;
        border-radius: 500px;
      }
    }

    > span {
      font-weight: bolder;
      color: white;
      text-align: center;
      font-size: 24px;
      margin: 0;
      margin-top: 15px;
      line-height: 1.2;

      > a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
        transition: 0.3s;

        &:hover {
          color: $primary-1;
        }
      }
    }

    > .profile__social {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      width: 100%;

      > button {
        width: 36px;
        height: 36px;
        display: flex;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: $dark-2;
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary-1;
        }

        & + * {
          margin-left: 8px;
        }

        > a {
          text-align: center;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          text-align: center;
        }

        i,
        .ion-icon {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          color: white;
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    left: -300px;
  }
}

.header__expanded {
  left: 0;
}
